@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: 0px;
    font-family: 'Open Sans', sans-serif;
    min-width: 550px;
}

.navbar-brand {
    height: 60px;
    color: purple !important;
    font-size: 30px;
}

.navbar-brand img {
    height: 50px;
    width: 55px;
}

.nav-item a {
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
}

.navbar-nav {
    margin-right: 90px;
}

.nav-item {
    padding-left: 18px;
    padding-right: 18px;
}

.nav-item.active a {
    color: purple !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container img {
    width: 25%;
    height: 25%;
    border-bottom: 3px solid purple;
}

.container h1 {
    font-family: 'Berkshire Swash', cursive;
    margin-top: 25px;
}

.container p {
    font-size: 18px;
    margin: 20px auto 25px;
    color: grey;
}

.container button {
    height: 75px;
    width: 250px;
    border-radius: 0px;
    margin-top: 20px;
}

.container #button1 {
    background-color: purple;
    margin-right: 10px;
}

.container #button2 {
    background-color: transparent;
    color: purple;
    border: 2px solid purple;
}

.container #button2:hover {
    background-color: purple;
    color: white;
}

.container #button1:hover {
    background-color: transparent;
    color: purple;
    border: 2px solid purple;
}